name: Deploy Website

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x' 

    - name: Publish Project
      run: dotnet publish FirstWebsite/FirstWebsite.csproj -c Release -o ./publish

    - name: Upload to SmarterASP via FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: win8056.site4now.net
        username: ${{ secrets.SMARTERASP_USERNAME }}
        password: ${{ secrets.SMARTERASP_PASSWORD }}
        local-dir: ./publish/
        server-dir: ./site1/
        # Sometimes adding this helps with 530 errors on SmarterASP
        protocol: ftp
